// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    padding: 10px;
}

.post__title {
    font-weight: 600;
}

.post__content {
    text-align: justify;
}